* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0 auto;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'), url('Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header {
    /*width: 100%;*/
    width: 1200px;
    height: 80px;
    background-color: black;
    color: white;
    border: 2px solid green;
    margin-left: 120px;
}

.main-width {
    width: 1200px;
    /*margin-left: 120px;*/
    border: 2px solid red;
    padding-left: 70px;
    padding-right: 70px;
}

.top-height {
    height: 80px;
}

.name-mark {
    display: inline-block;
    float: left;
    margin-top: 20px;
    font-size: 22px;
    text-transform: uppercase;
}

.menu li {
    display: inline-block;
    float: right;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 22px;
    text-transform: uppercase;
}

span {
    color: #00C29F;
}

.back1 {
    /*width: 100%;*/
    width: 1200px;
    border: 2px solid green;
    margin-left: 120px;
    box-shadow: inset -10px -83px 78px 11px rgba(219, 216, 219, 1);
}

.section1-height {
    height: 480px;
}

.armchair {
    width: 35%;
    border: 2px solid blue;
    display: inline-block;
    float: left;
    height: 300px;
    margin-left: 70px;
    margin-top: 110px;
}

.text-box1 {
    width: 40%;
    border: 2px solid blue;
    display: inline-block;
    height: 300px;
    text-align: center;
    padding-top: 50px;
    float: right;
    margin-right: 150px;
    margin-top: 110px;
}

#uppertext {
    font-size: 25px;
    text-transform: uppercase;
    word-spacing: 3px;
    padding-bottom: 15px;
}

.button {
    margin-top: 15px;
    width: 230px;
    height: 45px;
    background-color: #00C29F;
    border-radius: 10px;
    font-size: 19px;
    color: white;
    text-transform: uppercase;
}

.back2 {
    /*width: 100%;*/
    width: 1200px;
    border: 2px solid green;
    margin-left: 120px;
}

.section2-height {
    height: 360px;
}

.image-box1 {
  display: inline-block;
  border: 2px solid #CFCFCF;
  margin-top: 50px;
  width: 333.33px;
  height: 229px;
  float: left;
}

.image-box2 {
  display: inline-block;
  border: 2px solid #CFCFCF;
  margin-top: 50px;
  width: 333px;
  height: 229px;
  margin-left: 30px;
}

.text-box2 {
  display: inline-block;
  border: 2px solid #CFCFCF;
  text-align: left;
  width: 332px;
  margin-top: 50px;
  padding: 20px;
  margin-left: 25px;
  float: right;
}

#head-box2 {
  font-size: 22px;
  padding-bottom: 27px;
}

.text {
  font-size: 14px;
  padding-bottom: 20px;
}

.back3 {
  width: 1200px;
  margin-left: 120px;
  border: 2px solid green;
  background-color: #F1F1F1;
}

.section3-height {
  height: 750px;
}

.offert-box1 {
  position: relative;
  display: inline-block;
  border: 2px solid #C2C2C2;
  height: 460px;
  width: 333px;
  float: left;
  margin-top: 200px;
  background-color: #F9F9F9;
}

.offert-box2 {
  position: relative;
  display: inline-block;
  border: 2px solid #C2C2C2;
  height: 460px;
  width: 333px;
  margin-top: 200px;
  margin-left: 28px;
  background-color: #34C6AB;
}

.offert-box3 {
  position: relative;
  display: inline-block;
  border: 2px solid #C2C2C2;
  height: 460px;
  width: 333px;
  float: right;
  margin-top: 200px;
  background-color: #F9F9F9;
}

.circle-top {
    position: absolute;
    top: -35px;
    right: 133px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #C2C2C2;
    border: 12px solid white;
    box-shadow: 0 0 0 2px #C2C2C2;
    box-sizing: border-box;
}

.circle-top-box2 {
    position: absolute;
    top: -35px;
    right: 133px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    border: 12px solid #34C6AB;
    box-shadow: 0 0 0 2px #34C6AB;
    box-sizing: border-box;
}

.offert-head {
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
    color: #34C6AB;
    margin-top: 23px;
}

.offert-head-box2 {
    font-size: 23px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    margin-top: 23px;

}
