* {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1.4em;
    vertical-align: baseline;
    text-decoration: none;
    outline: 0;
    font-family: 'Raleway', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.eot');
    src: local('Raleway'), local('Raleway-Regular'), url('Raleway-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


header {
    width: 100%;
    height: 80px;
    background-color: black;
    color: white;
    border: 2px solid green;
}

.main-width {
    width: 1200px;
    margin-left: 120px;
    border: 2px solid red;
}

.top-height {
  height: 80px;
}

.name-mark {
    display: inline-block;
    float: left;
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
}


.menu li {
    display: inline-block;
    float: right;
    margin-left: 30px;
    margin-top: 20px;
    font-size: 18px;
    text-transform: uppercase;
}

span {
  color: #00C29F;
}

.back1 {
  width: 100%;
  border: 2px solid green;
  box-shadow: inset -10px -83px 78px 11px rgba(219, 216, 219, 1);
}

.section1-height {
  height: 600px;
}
